<EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            <div class="col-6 float-left">
                @* Column for personal details*@
                <div class="form-group row">
                    <label class="col-6 col-form-label">First Name:</label>
                    <div class="col-6">
                        <InputText @bind-Value="@model.FirstName" class="form-control" placeholder="First Name" />
                        <ValidationMessage For="@(() => model.FirstName)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-6 col-form-label">Last Name:</label>
                    <div class="col-6">
                        <InputText @bind-Value="@model.LastName" class="form-control" placeholder="Last Name" />
                        <ValidationMessage For="@(() => model.LastName)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-6 col-form-label">Date of Birth:</label>
                    <div class="col-6">
                        <SfDatePicker @bind-Value="@model.DateOfBirth" Placeholder="Select Date of Birth"></SfDatePicker>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-6 col-form-label">Date Enrolled:</label>
                    <div class="col-6">
                        <SfDatePicker @bind-Value="@model.DateEnrolled" Placeholder="Select Date Enrolled:"></SfDatePicker>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-6 col-form-label">Booked Session:</label>
                    <div class="col-6">
                        <select class="form-control" @bind="@model.BookedSession">
                            @foreach (Enums.SessionType t in Enum.GetValues(typeof(Enums.SessionType)))
                            {
                                <option>@t</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <SfCheckBox Label="Member is Active?" Checked="@model.IsActive"></SfCheckBox>
                    </div>
                    <div class="col-6">
                        <SfCheckBox Label="Is Cadet?" Checked="@model.IsCadet"></SfCheckBox>
                    </div>
                </div>
            </div>

            <div class="col-6 float-right">
                @* Column for photo of Members*@

                @if (string.IsNullOrWhiteSpace(model.PhotoPath)) // No photo file name on record
                {
                    <SfUploader AllowedExtensions=".jpg, .png, .gif"
                                Multiple="false"
                                AutoUpload="true">
                        <UploaderEvents ValueChange="UploadPhoto"></UploaderEvents>
                    </SfUploader>
                }
                else
                {
                    <img src="@model.PhotoPath" />
                }
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success m-3">@buttonText</button>
    <button @onclick="OnCancelClick" class="btn btn-warning m-3">
        Cancel
    </button>
</EditForm>

@code {
    [Parameter] public MemberModel model { get; set; }
    [Parameter] public string buttonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback OnCancelClick { get; set; }


}
