@using Syncfusion.Blazor.DropDowns
@using UnitAdmin.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

<EditForm Model="@Model" OnValidSubmit="@ValidSubmit">
    <DataAnnotationsValidator />
    <div class="row">
        <h4>Username: @Model.UserName</h4>
    </div>
    <div class="row col-12">
        <div class="row">
            <div class="form-group m-2 p-1">
                <label class="control-label">Firstname:</label>
                <InputText class="form-control m-2 p-1" @bind-Value="@Model.FirstName" placeholder="First Name" />
                <ValidationMessage For="@(() => Model.FirstName)" />
            </div>
            <div class="form-group m-2 p-1">
                <label class="control-label">Surname:</label>
                <InputText class="form-control m-2 p-1" @bind-Value="@Model.LastName" placeholder="Surname" />
                <ValidationMessage For="@(() => Model.LastName)" />
            </div>
            <div class="form-group m-2 p-1">
                <label class="control-label">Email:</label>
                <InputText class="form-control m-2 p-1" @bind-Value="@Model.Email" placeholder="Email Address" />
                <ValidationMessage For="@(() => Model.Email)" />
            </div>
            <div class="form-group m-2 p-1">
                <label class="control-label">Phone:</label>
                <InputText class="form-control m-2 p-1" @bind-Value="@Model.PhoneNumber" placeholder="Phone Number" />
                <ValidationMessage For="@(() => Model.PhoneNumber)" />
            </div>
            <div class="form-group m-2 p-1">
                <label class="control-label">Position:</label>
                <InputText class="form-control m-2 p-1" @bind-Value="@Model.Position" placeholder="Position" />
                <ValidationMessage For="@(() => Model.Position)" />
            </div>
        </div>
    </div>
    <div >
        <div id="listbox-control">
            <div class="dual-list-wrapper">
                <div class="dual-list-groupa">
                    <h4> Current Roles</h4>
                    <SfListBox @ref="currentRoles" Scope="#availableRoles2" DataSource="@Model.RoleNames" TItem="string" Height="330px" TValue="string[]">
                        <ListBoxToolbarSettings Items="@Items"></ListBoxToolbarSettings>
                    </SfListBox>
                </div>
                <div class="dual-list-groupb">
                    <h4>Available Roles</h4>
                    <SfListBox @ref="availableRoles" DataSource="@AvailableRoles" Height="330px" TItem="string" TValue="string[]">
                        <ListBoxFieldSettings Text="Name"></ListBoxFieldSettings>
                    </SfListBox>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12">
        <button type="submit" class="btn btn-success m-3">@ButtonText</button>
        <button @onclick="@OnCancelClick" class="btn btn-danger m-3">Cancel</button>
    </div>
</EditForm>

<style>
    .dual-list-groupa {
        width: 48%;
        float: left;
    }

    .dual-list-groupb {
        width: 48%;
        float: right;
    }
</style>

@*<style>
    .control-section .dual-list-wrapper {
        width: 95%;
        margin: 0 auto 10px;
        display: flex;
    }

    .dual-list-groupa,
    .dual-list-groupb {
        width: 40%;
    }

        .dual-list-groupb .e-listbox-wrapper,
        .dual-list-groupb h4 {
            width: 40%;
            margin-left: 10px;
        }

    @@media screen and (max-width: 590px) {
        .control-section .dual-list-wrapper {
            width: 100%;
        }

        .dual-list-groupa {
            width: 45%;
        }

        .dual-list-groupb {
            width: 45%;
        }
    }

    @@media screen and (max-width: 400px) {
        .dual-list-groupa {
            width: 40%;
        }

        .dual-list-groupb {
            width: 40%;
        }
    }

    #listbox-control {
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>*@

@code{
    [CascadingParameter] public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback ValidSubmit { get; set; }
    [Parameter] public EventCallback OnCancelClick { get; set; }
    [Parameter] public string[] AvailableRoles { get; set; }



    [Parameter] public AppUser Model { get; set; }

    private string[] Items = new string[] { "moveTo" , "moveFrom" , "moveAllTo" , "moveAllFrom" };

    SfListBox<string[] , AppRole> CurrentRoles;


}
